#### Import pandas, numpy, and pyreadr (the latter for .rds files)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import pyreadr

#### Set source RDS to dataframe

In [4]:
data = pyreadr.read_r(r'C:\0_DATA\0_GIS\AirQuality\00_SOURCE\dat_pa_pm25.rds')

#### Remove ordered dictionary and set source RDS to new dataframe

##### * Without the below line, pandas was returning an ordered dictionary that was giving me trouble when attempting to run subsequent functions.  Some searching yielded this line which allows for outputting a cleaner dataframe (thus allowing for standard pandas dataframe functions to be used).

In [5]:
df = data[None]

#### Print dataframe to view contents

In [6]:
print(df)

               id           date_time    year  month  day  hour         lon  \
0           100.0 2016-05-05 03:00:00  2016.0    5.0  5.0   3.0 -121.881880
1           100.0 2016-05-05 04:00:00  2016.0    5.0  5.0   4.0 -121.881880
2           100.0 2016-05-05 08:00:00  2016.0    5.0  5.0   8.0 -121.881880
3           100.0 2016-05-05 09:00:00  2016.0    5.0  5.0   9.0 -121.881880
4           100.0 2016-05-05 10:00:00  2016.0    5.0  5.0  10.0 -121.881880
...           ...                 ...     ...    ...  ...   ...         ...
21585709  72559.0 2020-11-01 03:00:00  2020.0   11.0  1.0   3.0 -118.142309
21585710  72559.0 2020-11-01 04:00:00  2020.0   11.0  1.0   4.0 -118.142309
21585711  72559.0 2020-11-01 05:00:00  2020.0   11.0  1.0   5.0 -118.142309
21585712  72559.0 2020-11-01 06:00:00  2020.0   11.0  1.0   6.0 -118.142309
21585713  72559.0 2020-11-01 07:00:00  2020.0   11.0  1.0   7.0 -118.142309

                lat        pm25
0         37.274200    4.398000
1         37.274200  108.609833
2         37.274200    1.814167
3         37.274200    1.542833
4         37.274200    1.588333
...             ...         ...
21585709  34.205976    2.816333
21585710  34.205976    3.641333
21585711  34.205976   10.979500
21585712  34.205976    9.396167
21585713  34.205976    2.489500

[21585714 rows x 9 columns]

#### Drop unnecessary columns and set to a new dataframe

In [7]:
df_ID_lon_lat = df.drop(columns=["date_time", "year", "month", "day", "hour", "pm25"])

In [8]:
print(df_ID_lon_lat)

               id         lon        lat
0           100.0 -121.881880  37.274200
1           100.0 -121.881880  37.274200
2           100.0 -121.881880  37.274200
3           100.0 -121.881880  37.274200
4           100.0 -121.881880  37.274200
...           ...         ...        ...
21585709  72559.0 -118.142309  34.205976
21585710  72559.0 -118.142309  34.205976
21585711  72559.0 -118.142309  34.205976
21585712  72559.0 -118.142309  34.205976
21585713  72559.0 -118.142309  34.205976

[21585714 rows x 3 columns]

#### Identify unique ID values

In [9]:
df_ID_lon_lat.id.unique()

array([  100.,   195.,   354., ..., 72251., 72281., 72559.])

#### Get count of unique ID values

In [10]:
len(df_ID_lon_lat.id.unique())

5162

In [11]:
print(df_ID_lon_lat)

               id         lon        lat
0           100.0 -121.881880  37.274200
1           100.0 -121.881880  37.274200
2           100.0 -121.881880  37.274200
3           100.0 -121.881880  37.274200
4           100.0 -121.881880  37.274200
...           ...         ...        ...
21585709  72559.0 -118.142309  34.205976
21585710  72559.0 -118.142309  34.205976
21585711  72559.0 -118.142309  34.205976
21585712  72559.0 -118.142309  34.205976
21585713  72559.0 -118.142309  34.205976

[21585714 rows x 3 columns]

#### Drop duplicate ID records

In [12]:
df_ID_lon_lat_NoDupes = df_ID_lon_lat.drop_duplicates(subset = ['id'])

#### Print dataframe to verify row/column count

In [13]:
print(df_ID_lon_lat_NoDupes)

               id         lon        lat
0           100.0 -121.881880  37.274200
30517       195.0 -124.128893  41.059725
65356       354.0 -111.847381  40.581240
87303       459.0 -111.891498  40.474567
115689      473.0 -119.701662  36.724515
...           ...         ...        ...
21581580  71631.0  -70.977142  42.468255
21582482  72249.0 -118.294998  34.114577
21583212  72251.0 -120.566941  39.721347
21584074  72281.0 -119.319600  46.177709
21584891  72559.0 -118.142309  34.205976

[5162 rows x 3 columns]

#### Export dataframe to a new CSV

In [14]:
df_ID_lon_lat_NoDupes.to_csv(r'dat_pa_pm25_NoDupes.csv')